@inject Microsoft.AspNetCore.Antiforgery.IAntiforgery AntiForgery
@model ProductListModel




<a href="/products/add" class="btn btn-primary">Add New Product</a>
<table class="table table-bordered">
    <thead>
        <tr>
            <td>
                Product Name
            </td>
            <td>
                Description
            </td>
            <td>
                Price
            </td>
            <td>
                Category
            </td>
            <td>
            </td>
            <td>
            </td>
            <td>
            </td>
        </tr>
    </thead>
    <tbody>
        @foreach (var p in Model.Products)
        {
            <tr>
                <td>
                    @p.Name
                </td>
                <td>
                    @p.Description
                </td>
                <td>
                    @p.Price
                </td>
                <td>
                    @p.Category
                </td>
                <td>
                    <a href="/products/edit/@p.Id">edit</a>
                </td>
                <td>
                    @* <form id="deleteForm" action="/products/delete" method="post">
                        <input type="hidden" name="id" value="@p.Id" />
                        <input type="hidden" name="__RequestVerificationToken" value="@AntiForgery.GetTokens(ViewContext.HttpContext).RequestToken" />
                        <input type="submit" onclick="return confirmDelete()" value="Delete" />
                    </form> *@
                    <button onclick="confirmDelete(@p.Id)">Delete</button>
                </td>
                <td>
                    @p.Id
                </td>
            </tr>
        }
    </tbody>
</table>

<script>
    function confirmDelete(id) {
        if (confirm('Are you sure you know what you are doing?')) {
            // // $.ajax({
            // //     type: "POST",
            // //     url: $("#deleteForm").attr("action"),
            // //     data: $("#deleteForm").serialize(),
            // //     success: function (response) {
            // //         window.location.href = response;
            // //     },
            // //     error: function (xhr, status, error) {

            // //     }
            // // });
            $.post('@Url.Action("Delete","Products")', { id: id })
                .done(function (response) 
                { 
                    window.location.href = response; 
                });
        }
        return false;
    }
</script>